In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("data/UKX_Calls.csv")
data

,Stock Price,Strike Price,Maturity,Dividends,Volatility,Risk-free,Call Price
0,4732.000000,1.0,0.09,0.000000,0.392236,0.0088,4731.00
1,4732.000000,1.0,0.34,11.949099,0.392236,0.0088,4731.00
2,4732.000000,1.0,0.02,0.000000,0.392236,0.0088,4731.00
3,2094.000000,1.0,0.09,0.000000,0.529784,0.0088,2093.00
4,2094.000000,1.0,0.34,4.424667,0.529784,0.0088,2093.00
...,...,...,...,...,...,...,...
1683,241.300003,92.0,1.09,6.926298,0.622848,0.0088,149.50
1684,241.300003,92.0,0.59,9.061898,0.622848,0.0088,149.75
1685,241.300003,1.0,0.09,0.000000,0.622848,0.0088,240.25
1686,241.300003,1.0,0.34,0.000000,0.622848,0.0088,240.25
1687,241.300003,1.0,0.02,0.000000,0.622848,0.0088,240.25

In [14]:
data.head(n=5)

NameError: name 'data' is not defined